* {
    margin: 10px;
    border: rgb(226, 34, 34);
    padding: 0;
    box-sizing: border-box;
   }
   body {
    width: 95vw;
    background-image: linear-gradient(to right top, #000000, #2b091b, #c0c7c7, #4b7fcd, #3014e1, #1515dd, #a300a8, #bc00b0, #d60088, #e1005f, #21191b, #431be1);     
    color: white;
     }
     header, footer{
        padding: 10px;
     background-image: linear-gradient(to left top, #000000, #2b091b, #4b0138, #650061, #720095, #8b009f, #a300a8, #bc00b0, #d60088, #e1005f, #df0036, #d20303);
     color: rgb(241, 241, 241);
     text-align: center;
   }
   header {
    position: relative;
  float: top;
}
.home{
    border-left: 50px;
    }

    li{
        display: inline;
         color:yellow;
        background-color:black;
        padding: 20px;
     }
     li:hover {
        background-color:grey;
     } 
     a {
        text-decoration: none;
     }

     a:visited {
        color: white;
     }
     h1 {
        text-transform: uppercase;
        font-size: 50px;
        text-align: center;
     }
.fa {
    padding: 5px;
    font-size: 30px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 8px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #0f2d6c;
    color: white;
  }
  .fa-instagram
  {
    background: #e00d0d;
    color: #f3efef;
  }

 